html, body {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
body {
    font-family: 'Lato', sans-serif;
    background-color: #202030;
    line-height: 1.6;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100%;
}

#side-nav {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: #303040;
  font-size: 25px;
  height: 100%;
}
a {
  padding: 10px;
}

#app {
  grid-column: 2 / 3;
  height: 100%;
}

