body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #202030;
}

.sidebar {
  margin: 0;
  padding: 0;
  background: #303040;
  font-size: 25px;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  /*color: black;*/
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.icon {
  display: none;
  color: darkorange;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/*@media only screen and (max-width: 600px) {*/
/*  .sidebar a {*/
/*    text-align: center;*/
/*    float: none;*/
/*  }*/
/*}*/

@media only screen and (max-width: 600px) {
  .sidebar {display: none}
  .icon {
    float: right;
    display: none;
  }
}

/*@media only screen and (max-width: 600px) {*/
/*  .topnav.responsive {position: relative;}*/
/*  .topnav.responsive {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*  }*/
  /*.topnav.responsive a {*/
  /*  float: none;*/
  /*  display: block;*/
  /*  text-align: left;*/
  /*}*/
}